#chat-container{
    display: grid;
    grid:
        'search' 71px
        'conversation-list' 580px
        'new-message-container' 78px
        / 275px 1fr;
    min-width: 800px;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    height: 95vh;
    background: #FFF;
    border-radius: 10px;
}
#search,
#conversation-list,
#new-message-container{
    background: #5100c9;
}

#search{
    display: grid;
    align-items: center;
    padding: 0 20px;
    grid-area: search;
    border-radius: 0px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    z-index: 1;
}
#search input{
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 20px;
    border: 0;
    font-size: 1.1rem;
}
#conversation-list{
    grid-area: conversation-list;
}

#chat-title,
#chat-form{
    background-color: #eee;
    width: 1200px;
}

#chat-title{
    grid-area: chat-title;
    color: darkviolet;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
}
#new-message-container{
    grid-area: new-message-container;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius: 0 0 0 0px;
}

#chat-message-list{
    grid-area: chat-message-list;
}

